* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.indv-review {
  border: 3px solid #ccc;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 40px;
  height: 80%;
  width: 100%;
  margin-top: 20px;
}

.review-card li {
  border: 3px solid #ccc;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 40px;
  list-style: none;
}

.review-card,
.indv-review h3 {
  font-size: 24px;
}

.review-card,
.indv-review h4 {
  font-size: 18px;
}
.review-card,
.indv-review img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cropped-image {
  width: 150px;
  height: 130px;
  border-radius: 65%;
  object-fit: cover;
  margin-top: -20px;
  animation: App-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
